/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Tangerine");

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

html,button{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}
